
<div class="home_magin">
      <div class="row">
      <br><br> 
       <div class="col-md-4">
            <h2>Contact us on:</h2>
                <p><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> P.O Box 0000,<br>
                Department of Computer Science, <br>
                University of Aberdeen<br>
                Scotland, Aberdeen
                </p>
                <p><i class="fa fa-phone fa-2x" aria-hidden="true"></i>44122400000000</p>
                <p><i class="fa fa-envelope-o fa-2x"></i> <a href="mailto:a.c.muo.16@aberdeen.ac.uk">
                a.c.muo.16@aberdeen.ac.uk
                </a><br>
                
       </div
 
      <div class="col-md-4">
        
             
      </div> 
 
 

   </div>
    </div>
