<br>


<div class="row">
                  <div class="col-md-3">
                   
                  </div>
                
                    <div class="col-md-6">
                        <h3>Submited Booking Request</h3>
                        <% @book.each do |book| %><p>
                
                                
                        <b>From:</b>  <%=book.started %><br>
                        <b>To:</b><%=book.ended %><br>
                        <b>Day:</b><%=book.day%><br>
                        
                        
                                    <hr><br></td></tr>
                                     
                    
                           <% end %>
                                   </table>
                    </div>
                
                
                   <div class="col-md-3">
                     
                        <div class="host">
                            
                       </div>
                
         </div>
</div>
</div> 
</div>
