<hr/>
<footer>
    <div class="footer" id="footer">
        <div class="container">
         
            <div class="row">
                
                <div class="col-md-4">
                      <h3>Terms & Conditions</h3>
                      <%= link_to "User Agreement", "#" %><br>
                     
                       
                </div>
                 <div class="col-md-4">
                      <h3>Customer Service</h3>
                       <%= link_to "Contact Us", contact_path%><br>
                       <%= link_to "Search for us on Google Map", locate_path %><br>
                     
                       
            
                </div>
                <div class="col-md-4 ">
                   <h3>Follow us</h3>
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="https://twitter.com/"> <i class="fa fa-twitter">   </i> </a> </li>
                       
                       
                    </ul>
                </div>
                
                
                 
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
     
</div>
     