<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Railway Application System", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Reserve a train", new_ticket_path %></li>
            <li><%= link_to "sign Up",   new_user_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
</header>